<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FiasService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings />
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DownloadServiceSoap" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpEndPoint" sendTimeout="00:05:00" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://fias.nalog.ru/WebServices/Public/DownloadService.asmx"
        binding="basicHttpBinding" bindingConfiguration="DownloadServiceSoap"
        contract="FiasReference.DownloadServiceSoap" name="DownloadServiceSoap" />
      
      
      <endpoint address="net.tcp://server:1734/DataProvider/FiasMigrator"
        binding="netTcpBinding" bindingConfiguration="NetTcpEndPoint"
        contract="FiasUpdaterSRV.IFiasReal" name="NetTcpEndPoint">
      </endpoint>
      
    </client>
  </system.serviceModel>
 
  
  <userSettings>
    <FiasService.Properties.Settings>
      <setting name="Hour" serializeAs="String">
        <value>14</value>
      </setting>
    </FiasService.Properties.Settings>
  </userSettings>
</configuration>