<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <system.serviceModel>
        <bindings>
          <customBinding>
            <binding name="MyCustom">
              <binaryMessageEncoding />
              <httpsTransport proxyAddress="http://proxy" useDefaultWebProxy="false" />
            </binding>
          </customBinding>
            <basicHttpBinding>
                <binding name="DownloadServiceSoap" />
            </basicHttpBinding>
        </bindings>
      
        <client>
            <endpoint address="http://fias.nalog.ru/WebServices/Public/DownloadService.asmx"
                binding="customBinding" bindingConfiguration="MyCustom"
                contract="nalog.DownloadServiceSoap" name="DownloadServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>